<!-- edit-product.ejs is very similar to add-product.ejs, however we want to pre-populate the data in the form, with the
    values of the product we want to edit. -->

<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <form class="product-form"
    <% if (reporting && useMongoose) { %>
          action="/reporting/mongoose/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
    <% } else if (reporting && !useMongoose) { %>
          action="/reporting/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
    <% } else { %>
          action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
            <% } %>
          method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
        </div>
        <div class=" form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
        </div>
        <div class=" form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="5">
                <% if (editing) { %>
                    <%= product.description %>
                <% } %>
            </textarea>
        </div>
        <!-- hidden input for transmitting the product id in the POST to edit-product  -->
        <% if (editing && !reporting) { %>
            <input type="hidden" value="<%= product.id %>" name="productId">
        <% } %>
        <% if (editing && reporting) { %>
            <input type="hidden" value="<%= product._id %>" name="productId">
        <% } %>

        <button type="submit">
            <% if (editing) { %> Update Product
            <% } else { %> Add Product
            <% } %>
        </button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</main>
<%- include('../includes/end.ejs') %>